.worksContainer {
  width: 100%;
  height: 100%;
  color: white;
  background-image: linear-gradient(40deg, #1a1527, #0e0c16 88%, #0e0c16 99%);
}
.projects .title {
  font-size: 5vw;
  align-items: center;
  font-family: "MuseoModerno", sans-serif;
  margin-top: 100px;
}
.projects .des {
  color: #eee5;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.list-projects {
  margin-top: 1rem;
  padding: 2rem;
  display: grid;
  height: 100%;

  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: space-around;

  gap: 2rem;
  position: relative;
}
.list-projects::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 70%;
  background-image: linear-gradient(-45deg, red, blue);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 20px;
  background-size: 200% auto;
}
.list-projects a {
  color: white;
  backdrop-filter: blur(0.5);
  z-index: 7;
  padding: 20px;
  border-radius: 20px;
}
.projects .images {
  background-image: linear-gradient(-45deg, #473bb4, #be24a9);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}
.images img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 20px 40px #010824;
}
.projects .content h3 {
  font-size: 3em;
  margin: 0;
}
.content .des {
  text-align: left;
  width: 100%;
}
.content .mission {
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.content .mission div:nth-child(1) svg {
  background-color: #eee3;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
}
.images:nth-child(2n) {
  grid-column-start: 2;
}
.images .content:nth-child(2n) {
  grid-column-start: 1;
  grid-row-start: 1;
}
.list a {
  z-index: 20;
  color: white;
}
.cardWork {
  z-index: 5;
}
.projects .reactNativeImage {
  background-image: linear-gradient(-45deg, #473bb4, #be24a9);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}
.reactNativeImage img {
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 20px 40px #010824;
}
@media only screen and (max-width: 700px) {
  .item-work {
    align-self: center;
    width: 65vw;
  }
  .list-projects {
    margin: 0;
    justify-content: start;

    display: flex;
    flex-direction: column;
  }
}
