.containerSkills {
  width: 100%;
  color: white;
  height: 100%;

  background-image: linear-gradient(40deg, #1a1527, #0e0c16 88%, #0e0c16 99%);
  z-index: 30;
}
.title {
  font-size: 5vw;
  text-align: center;
  font-family: "MuseoModerno", sans-serif;
  margin-top: 100px;
}
.des {
  color: #eee5;
  text-align: center;
  max-width: 500px;

  margin: auto;
}
.list {
  margin-top: 1rem;
  padding: 2rem;
  display: grid;
  height: 100%;

  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: space-around;
  gap: 3vw;
  position: relative;
}
.list::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 70%;
  background-image: linear-gradient(-45deg, red, blue);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 20px;
  background-size: 200% auto;
}
.item {
  backdrop-filter: blur(0.5);
  z-index: 7;
  padding: 20px;
  border-radius: 20px;
  background-color: #01082488;
}
svg {
  font-size: 1.5rem;
  background-color: #eee2;
  padding: 10px;
  border-radius: 10px;
}
svg path {
  stroke: white;
  stroke-width: 5%;
}
.item .des {
  text-align: left;
  width: 100%;
  font-size: small;
}
.timelineAlt {
  height: 5310%;
  top: 0;
}
.timelineAlt {
  display: inline-block;
  margin-top: 30px;
}
.section-bullet::before {
  background-color: #1b191e;
  border: 2px solid #5918df;
  border-radius: 50%;
  content: "";
  height: 9px;
  left: -29px;
  position: absolute;
  top: 9px;
  width: 9px;
  z-index: 10;
}
.skillsTag {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.481);
  font-weight: 100;

  display: flex;
  margin-left: 10rem;

  font-size: 1.2rem;
}
.containerTagSkills {
  align-items: center;

  height: 15vh;
  display: flex;
}
.skillsTag span {
  margin-left: 0.5rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.264);
}
.bulletSkills {
  position: absolute;
}
.bulletSkills:before {
  background-color: #1b191e;
  border: 2px solid #5918df;
  border-radius: 50%;
  content: "";
  height: 0.5rem;
  left: 5.7rem;
  top: -4.5rem;
  position: absolute;
  width: 0.5rem;
  z-index: 10;
}
.skillItem {
  z-index: 7;
}
