.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  align-items: center;
}

.containerList {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 1.5rem;
}
.logoName {
  font-weight: bold;
  font-size: 2.5rem;

  letter-spacing: 0.2rem;
  margin-left: 1.5rem;
  transition: font-size 0.5s ease;
}
.logoName:hover {
  font-size: 2.7rem;
}
.logoName span {
  color: #5918df;
  font-weight: 100;
}
.containerList a {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.481);
  font-weight: 100;
  font-size: 1.5rem;
  /* transition: color 1s ease-in-out; */
}
.containerList a:hover {
  color: rgb(255, 255, 255);
}

.containerList a span {
  margin-left: 0.5rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.264);
}
#hamaburger {
  display: none;
}
#icon {
  width: 200px;
  height: 150px;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s
      cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: #5918df;
  stroke-dashoffset: 0px;
}
path#top,
path#bottom {
  stroke-dasharray: 240px 950px;
}
path#middle {
  stroke-dasharray: 240px 240px;
}
.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
  display: block;
  height: 28px;
}
.twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
.twitter svg {
  width: 32px;
  height: 32px;
}
.twitter svg path {
  fill: #1da1f2;
  stroke: none;
}
@media only screen and (max-width: 700px) {
  #hamaburger {
    display: flex;
    width: 4rem;
  }
  body {
    cursor: pointer;
  }
  .containerList {
    display: none;
  }
  .activeNab {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 1.5rem;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transition: display 1s ease;
    transform: translate(-50%, -50%);
  }
  .activeNab a {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.481);
    font-weight: 100;
    font-size: 1rem;
  }
  .activeNab a:hover {
    color: rgb(255, 255, 255);
  }
  .containerList a {
    font-size: 1rem;
  }
  .logoName {
    font-size: 1.5rem;
  }
  .navBar {
    margin: 0;
  }
}
